<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" th:object="${foodOder}">
    <input type="text" th:field="*{name}"/>

<!--    <ul>-->
<!--        <li th:each="feat : ${allFeatures}">-->
<!--            <input type="checkbox" th:field="*{features}" th:value="${feat}"/>-->
<!--            <label th:for="${#ids.prev('features')}"-->
<!--                   th:text="#{${'seedstarter.feature.' + feat}}">Heating</label>-->
<!--        </li>-->
<!--    </ul>-->
    <ul>
        <li th:each="food : ${foods}">
            <input type="checkbox" th:field="*{foodName}" th:value="${food.id}"/>
            <label th:for="${#ids.prev('foodName')}"
                   th:text="${food.name}">Heating</label>
        </li>
    </ul>
</form>
</body>
</html>